<div class="sidebar">
    <ul>
        <li><a href="{% url 'dashboard:home' %}" class="active"><i class="fa fa-dashboard"></i> Dashboard</a></li>
        
        <li><a href="{% url 'patients:list' %}"><i class="fa fa-user-md"></i> Patients</a></li>
        <li><a href="{% url 'doctors:list' %}"><i class="fa fa-stethoscope"></i> Doctors</a></li>
        <li><a href="{% url 'appointments:list' %}"><i class="fa fa-calendar"></i> Appointments</a></li>
        
        <li><a href="{% url 'opd:home' %}"><i class="fa fa-heartbeat"></i> Outpatient (OPD)</a></li>
        <li><a href="{% url 'ipd:home' %}"><i class="fa fa-bed"></i> Inpatient (IPD)</a></li>
        <li><a href="{% url 'pharmacy:home' %}"><i class="fa fa-plus-square"></i> Pharmacy</a></li>
        <li><a href="{% url 'laboratory:home' %}"><i class="fa fa-flask"></i> Laboratory</a></li>
        <li><a href="{% url 'radiology:home' %}"><i class="fa fa-columns"></i> Radiology</a></li>
        
        <li><a href="{% url 'billing:home' %}"><i class="fa fa-money"></i> Financial Billing</a></li>
        <li><a href="{% url 'expenses:home' %}"><i class="fa fa-credit-card"></i> Expenses</a></li>
    </ul>
</div>