<div class="sidebar">
    <ul class="sidebar-menu">

        <li>
            <a href="{% url 'dashboard:home' %}" data-prefix="/dashboard/">
                <i class="fa fa-dashboard"></i> <span>Dashboard</span>
            </a>
        </li>

        <li>
            <a href="{% url 'billing:billing_home' %}" data-prefix="/billing/">
                <i class="fa fa-user-circle"></i> <span>Billing</span>
            </a>
        </li>

        <li>
            <a href="{% url 'appointments:appointments_home' %}" data-prefix="/appointments/">
                <i class="fa fa-calendar"></i> <span>Appointments</span>
            </a>
        </li>

        <li>
            <a href="{% url 'opd:opd_home' %}" data-prefix="/opd/">
                <i class="fa fa-stethoscope"></i> <span>OPD - Out Patient</span>
            </a>
        </li>

        <li>
            <a href="{% url 'ipd:ipd_home' %}" data-prefix="/ipd/">
                <i class="fa fa-bed"></i> <span>IPD - In Patient</span>
            </a>
        </li>

        <li>
            <a href="{% url 'pharmacy:pharmacy_home' %}" data-prefix="/pharmacy/">
                <i class="fa fa-plus-square"></i> <span>Pharmacy</span>
            </a>
        </li>

        <li>
            <a href="{% url 'laboratory:laboratory_home' %}" data-prefix="/laboratory/">
                <i class="fa fa-flask"></i> <span>Laboratory</span>
            </a>
        </li>

        <li>
            <a href="{% url 'radiology:radiology_home' %}" data-prefix="/radiology/">
                <i class="fa fa-film"></i> <span>Radiology</span>
            </a>
        </li>

        <li>
            <a href="">
                <i class="fa fa-tint"></i> <span>Blood Bank</span>
            </a>
        </li>

        <li>
            <a href="">
                <i class="fa fa-ambulance"></i> <span>Ambulance</span>
            </a>
        </li>

        <li>
            <a href="">
                <i class="fa fa-id-card"></i> <span>Front Office</span>
            </a>
        </li>

        <li>
            <a href="">
                <i class="fa fa-file-text-o"></i> <span>Birth &amp; Death Records</span>
            </a>
        </li>

        <li>
            <a href="">
                <i class="fa fa-id-card"></i> <span>Human Resource</span>
            </a>
        </li>

        <li>
            <a href="">
                <i class="fa fa-clock-o"></i> <span>Duty Roster</span>
            </a>
        </li>

        <li>
            <a href="">
                <i class="fa fa-share-square-o"></i> <span>Annual Calendar</span>
            </a>
        </li>

        <li>
            <a href="">
                <i class="fa fa-share-square-o"></i> <span>Referrals</span>
            </a>
        </li>

        <li>
            <a href="">
                <i class="fa fa-umbrella"></i> <span>Insurance Management</span>
            </a>
        </li>

        <li class="has-submenu">
            <a href="#" class="submenu-trigger">
                <i class="fa fa-money"></i>
                <span>Finance</span>
                <i class="fa fa-chevron-down submenu-arrow"></i>
            </a>
            <ul class="sidebar-submenu">
                <li><a href="{% url 'finance:add_income' %}"><i class="fa fa-plus-circle"></i> Add Income</a></li>
                <li><a href="{% url 'finance:addexpense' %}"><i class="fa fa-minus-circle"></i> Add Expense</a></li>
                
            </ul>
        </li>

        <li>
            <a href="">
                <i class="fa fa-envelope"></i> <span>Messaging</span>
            </a>
        </li>

        <li>
            <a href="">
                <i class="fa fa-cubes"></i> <span>Inventory</span>
            </a>
        </li>

        <li>
            <a href="">
                <i class="fa fa-download"></i> <span>Download Center</span>
            </a>
        </li>

        <li>
            <a href="">
                <i class="fa fa-certificate"></i> <span>Certificates</span>
            </a>
        </li>

        <li>
            <a href="">
                <i class="fa fa-desktop"></i> <span>Front CMS</span>
            </a>
        </li>

        <li>
            <a href="">
                <i class="fa fa-video-camera"></i> <span>Live Consultations</span>
            </a>
        </li>

        <li>
            <a href="">
                <i class="fa fa-bar-chart"></i> <span>Reports</span>
            </a>
        </li>

        <li>
            <a href="">
                <i class="fa fa-gears"></i> <span>Setup</span>
            </a>
        </li>

    </ul>
</div>